@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;615&display=swap");

/*Обнуляющие стили*/

* {
   padding: 0;
   margin: 0;
   /*border: 0;*/
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

/*input::-ms-clear{display: none;}*/
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
input::-moz-focus-inner {
   border: inherit;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
a {
   text-decoration: none;
   color: black;
}
a:visited {
   text-decoration: none;
   color: black;
}
a:hover {
   text-decoration: none;
   color: black;
}
/*------------------------------*/

body {
   font-family: "EB Garamond", serif;
}
*.all-content {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   border: 1px solid #dadada;
}

/* HEADER*/
.header {
   max-width: 930px;
   margin: 0px auto;
   border-bottom: 1px solid #e5e5e5;
}
.header-container {
   /*min-width: 850px;*/
   margin: 0 40px;
   padding: 20px 0;
}
.header-row {
   margin-right: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu-row {
}
.menu__list {
   display: flex;
   width: 360px;
   justify-content: space-between;
}
.tour__name {
   text-transform: uppercase;
   font-weight: 600;
}
.tour__name-media {
   display: none;
}
.social-links-row {
}
.social__list {
   display: flex;
   width: 140px;
   justify-content: space-between;
}
.social__icon {
   height: 15px;
   width: 15px;
}

@media (min-width: 600px) and (max-width: 850px) {
   .header-row {
      justify-content: center;
   }
   .social-links-row {
      display: none;
   }
   .tour__name-media {
      display: none;
   }
}
@media (max-width: 600px) {
   .header-row {
      justify-content: center;
   }
   .social-links-row {
      display: none;
   }
   .menu__list {
      display: none;
   }
   .tour__name-media {
      display: block;
      font-size: 20px;
      color: black;
      text-transform: uppercase;
   }
}

/*Main container*/

.content {
   flex: 1 1 auto;
}
.container {
   max-width: 930px;
   margin: 0px auto;
}

/*TOURS*/
.block__tours {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   border-bottom: 1px solid #e9e9e9;
}
.block__1,
.block__2,
.block__3 {
   display: flex;
}
.block__reverse {
   flex-direction: row-reverse;
   border-top: 1px solid #e9e9e9;
   border-bottom: 1px solid #e9e9e9;
}
.block__row {
   /*padding-right: 15px;*/
   /*margin: 0 45px;*/
   display: flex;
   align-items: center;
   height: 430px;
   align-items: stretch;
}

.reverse {
   /*padding-left: 15px;
   margin: 0 45px;*/
   height: 315px;
   flex-direction: row-reverse;
}
.block-height {
   height: 315px;
}
.block__text1,
.block__text2,
.block__text3 {
   font-size: initial;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   line-height: 18px;
}
.block__text1 {
   width: 50%;
}
.block__text2,
.block__text3 {
   width: 70%;
}
.block__title {
   font-size: 36px;
   padding-bottom: 30px;
   font-weight: 400;
}
.block__image1 {
   background-image: url("../images/img11.png");
   width: 50%;
   background-size: cover;
   background-position: center;
}
.block__image2 {
   background-image: url("../images/img22.png");
   width: 30%;
   background-size: cover;
   background-position: center;
}
.block__image3 {
   background-image: url("../images/img33.png");
   width: 30%;
   background-size: cover;
   background-position: center;
}

.content__block1,
.content__block2,
.content__block3 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 60px;
}
.content__block1 {
   margin-top: 100px;
}
.content__block2,
.content__block3 {
   margin-top: 80px;
}
.let__title {
}

.block__link {
   text-transform: uppercase;
   font-size: smaller;
   color: #90a2b5;
   border: 1px solid #90a2b5;
   margin-top: 15px;
   padding: 10px 20px;
   border-radius: 5px;
}

.img__tours1 {
}
@media (min-width: 600px) and (max-width: 850px) {
   .block__row {
      align-items: stretch;
      height: 400px;
   }
   .block__text1,
   .block__text2,
   .block__text3 {
      line-height: unset;
      width: 50%;
   }
   .block__image1,
   .block__image2,
   .block__image3 {
      width: 50%;
   }
   .content__block1,
   .content__block2,
   .content__block3 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 40px;
      padding-bottom: 0px;
      text-align: justify;
   }

   .block__title {
      font-size: 28px;
      padding-bottom: 15px;
   }
}
@media (max-width: 599px) {
   .block__row {
      flex-direction: column;
      height: auto;
      align-items: center;
   }
   .block__reverse {
      flex-direction: column;
   }
   .block__text1,
   .block__text2,
   .block__text3 {
      width: 70%;
      display: flex;
      flex-direction: column;
   }
   .block__title {
      font-size: 22px;
   }
   .content__block1,
   .content__block2,
   .content__block3 {
      margin: 30px;
      padding-right: 40px;
      width: 70%;
   }
   .block__image1,
   .block__image2,
   .block__image3 {
      width: 80%;
      height: 350px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }
}

/*SLIDER*/
.title__gallery {
   text-align: center;
}
.slider {
   position: relative;
}
.slick-list {
   overflow: hidden;
}
.slick-track {
   display: flex;
}
.slick-arrow {
   position: absolute;
   top: 50%;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;
   color: #eeeeec;
}
.slick-arrow.slick-prev {
   left: 0;
   background: url("../icons/back.png") 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
   right: 0;
   background: url("../icons/forward.png") 0 0 / 100% no-repeat;
}
.slider-item {
   opacity: 1;
}
.slider__item.slick-center {
   opacity: 0.5;
}

/*FEATURES*/

.title__features {
   text-align: center;
   margin: 30px 0;
}
.row__features {
   display: flex;
}
.block__feature {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   align-content: baseline;
}
.fetures__boxes {
   width: 260px;
   height: 200px;
   display: flex;
   justify-content: center;
}
.feature__content {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 0 50px;
}
.feature__icon img {
   width: 30px;
}
.feature__text {
   text-align: center;
}

/*BORDER FEATURES*/
.border1 {
   border-bottom: 1px solid #dadada;
   border-right: 1px solid #dadada;
}
.border2 {
   border-bottom: 1px solid #dadada;
   border-right: 1px solid #dadada;
}
.border3 {
   border-bottom: 1px solid #dadada;
}
.border5 {
   border-left: 1px solid #dadada;
   border-right: 1px solid #dadada;
}
@media (min-width: 780px) and (max-width: 800px) {
   .fetures__boxes {
      width: 230px;
   }
}

@media (min-width: 600px) and (max-width: 780px) {
   .border1,
   .border3,
   .border5 {
      border-right: 1px solid #dadada;
   }
   .border1,
   .border3,
   .border4 {
      border-bottom: 1px solid #dadada;
   }
   .border2 {
      border-right: none;
   }
   .border5 {
      border-left: none;
   }
}
@media (max-width: 599px) {
   .block__feature {
      margin: 0 auto;
   }
   .border1,
   .border2,
   .border3,
   .border4,
   .border5,
   .border6 {
      border-bottom: 1px solid #dadada;
      border-left: none;
      border-right: none;
   }
   .fetures__boxes {
      width: 70%;
   }
}

/*WRITE TO US*/

.block__write-to-us {
   border-bottom: 1px solid #dadada;
}
.title__write {
   text-align: center;
   padding-top: 30px;
}
.form-container {
   text-align: center;
   width: 645px;
   margin: 0 auto;
}
.user__block {
   display: flex;
   justify-content: space-between;
   text-align: left;
}
.user-name {
}

.formtitle {
   margin: 10px 0;
   padding: 0;
   font-weight: bold;
}
.name,
.phone,
.mail {
   margin-top: 0;
}
.userdata {
   width: 200px;
   height: 25px;
}
.user-phone {
}

.user-mail {
}

.connect {
   display: flex;
   justify-content: flex-start;
}
.connect-me-with {
   padding-right: 20px;
   margin: 10px 0;
}
.connect-input {
}
.topics-message {
   display: flex;
   flex-direction: column;
}

.topics {
   text-align: left;
}
.message {
   text-align: left;
}
.usermessage {
   height: 100px;
}
.check-send {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.check {
   display: flex;
   align-items: center;
}
.human-text {
   padding-left: 6px;
   padding-bottom: 3px;
}
.sendbtn {
   margin: 10px 0;
   text-transform: uppercase;
   padding: 4px 10px;
}
input,
select,
textarea {
   border: 2px solid #dadada;
}
option {
   font-family: inherit;
   font-size: 12px;
}

@media (min-width: 600px) and (max-width: 780px) {
   .form-container {
      width: 80%;
      border-bottom: 1px solid #dadada;
   }
   .userdata {
      width: auto;
   }
}
@media (max-width: 660px) {
   .form-container {
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid #dadada;
   }
   .user__block {
      flex-direction: column;
      align-items: center;
   }
   .connect {
      justify-content: center;
      margin-top: 10px;
   }
}

/*FOOTER*/
.footer {
}
.container {
}
.footer__block {
   margin: 30px auto;
}
.footer__row {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer__links img {
   width: 20px;
   padding: 10px;
   border: 1px solid #4d4d4d;
   border-radius: 50%;
   margin: 0 5px 30px;
}
.footer__text {
}
@media (min-width: 600px) and (max-width: 850px) {
   .footer__links img {
      width: 15px;
   }
}
